html {
    font-family: sans-serif;
    box-sizing: border-box;
}
header {
    background: white;
    width: 940px;
    height:90px;
    margin: 0 auto;
    position:relative;
}
.logo img {
    position: absolute;
    top: 30px;
}
header nav ul {
    list-style: none;
    position: absolute;
    top: 40px;
    left: 200px;
}
header nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 10px;
}
.search {
    position: relative;
    z-index: 10;
    top: 53px;
    right: 5px
}
.search input {
    border-radius: 5px;
    position: absolute;
    z-index: 20;
    top: 0px;
    right: 0px;
}
.search span {
    position: absolute;
    z-index: 30;
    right: 0px;
}
#search{
    vertical-align: text-top;
}
    .settings {
    position: absolute;
    top: 10px;
    right: 20px;
}
#divider{
    vertical-align: text-top;
}



.main {
    height: 500px;
    background-image: url(img/slide-bg-complexity.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.box1 {
    color: white;
}
.box1 h1 {
    font-weight: normal;
}
.box1 em {
    font-weight: bold;
}
.box1 span button {
    background-color: hsl(202, 72%, 45%);
    color: white;
    border-radius: 5px;
    border: none;
    width: 170px;
    height: 35px;
    margin-bottom: 80px;
    text-align: left;
    vertical-align: middle;
}
.box1 span button img {
    float: right;
    vertical-align: middle;
}
.box2 {
    background-color: rgb(245, 58, 149);
    color: white;
    display: inline-block;
    border-radius: 5px;
    width: 25%;
    margin-right: 20px;
    padding-left: 10px;
}
.box3 {
    background-color: rgb(106, 197, 60);
    color: white;
    display: inline-block;
    border-radius: 5px;
    width: 25%;
    margin-right: 20px;
    padding-left: 10px;
}
.box4 {
    background-color: rgb(254, 116, 23);
    color: white;
    display: inline-block;
    border-radius: 5px;
    width: 25%;
    margin-right: 20px;
    padding-left: 10px;
}
.box2 a, .box3 a, .box4 a {
    text-decoration: none;
    color: white;
    padding-left: 10px
}
.box2 a img, .box3 a img, .box4 a img {
    float: left;
    vertical-align: middle;
}



.three {
    background: darkgreen;
    height: 400px;
}

.four {
    background: orange;
    height: 300px;
}

.container {
    width: 940px;
    height: 100%;
    margin: 0 auto;
    background: rgba(0,0,0,0.2);
}

@media (max-width: 700px) {
    .container {
        width: 100%;
    }
}