html {
    font-family: sans-serif;
    box-sizing: border-box;
}
header {
    background: white;
    width: 940px;
    height:90px;
    margin: 0 auto;
    position:relative;
}
header img {
    position: absolute;
    top: 30px;
}
header nav {
    list-style: none;
    position: absolute;
    top: 40px;
    left: 140px;
}
header nav li {
    float: left;
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 10px;
}

.search {
    position: absolute;
    top: 40px;
    right: 150px;
}
.search input {
    border-radius: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.search img {
    position: absolute;
    top: 0px;
    right: 0px;
}
.settings {
    position: absolute;
    top: 20px;
    right: 163px;
}




.two {
    height: 500px;
    background-color: yellow;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.three {
    background: darkgreen;
    height: 400px;
}

.four {
    background: orange;
    height: 300px;
}

.container {
    width: 940px;
    height: 100%;
    margin: 0 auto;
    background: rgba(0,0,0,0.2);
}

@media (max-width: 700px) {
    .container {
        width: 100%;
    }
}